* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #121010;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 50px;
  height: 50px;

}

nav ul {
  list-style-type: none;
  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 10px;

}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Basic CSS for the form elements */
body {
  font-family: Arial, sans-serif;
  /* margin: 20px; */
  background-image: url('destination.jpg');
  background-repeat: no-repeat;

  background-size: cover;
}

h1 {
  margin-bottom: 20px;
  color: white;
  font-weight: bolder;
  padding-left: 100px;
}

h2 {
  margin-bottom: 20px;
  color: white;

}

searchCondition {
  width: 500px;
  height: 500px;
  float: right;
}






div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"],
input[type="number"],
select {
  width: 200px;
  padding: 5px;
}

button {
  border: none;
  background-color: hsl(186, 43%, 51%);
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;



  cursor: pointer;
}




button:hover {
  background-color: #45a049;
}

/* Basic CSS for the report section */
h2 {
  margin-top: 30px;
}